html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box {
  --border: 1px solid red;
  background-color: white !important;
  height: 200px;
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  padding: 30px;
  float: left;
  border: 1px solid;
  position: relative;
}

#quote-text{
  height:auto;
  overflow: hidden;
  text-overflow: ellipsis;

}

#quote-author{
  height: 30px;
  text-align: right;
}

#new-quote {
  background-color: green;
  height: 40px;
  width: 100px;
  color: white;
  /* border-radius: 5px; */
  cursor: pointer;
  float: right;
  border: 0;
}

#tweet-button{
  background-color: green;
  height: 40px;
  width: 40px;
  color: white;
  /* border-radius: 5px; */
  cursor: pointer;
  float: left;
  border: 0;
}

#tweet-button i.fa.fa-twitter{
  color: #fff;
}

.buttons-container {
  position: relative;
  bottom: 5px;
  height: 40px;
  color: #fff;
}
