html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  position: relative;

  /* Flexbox: center align div starts here */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* In some cases, you may need to do text-align: center to center everything fully. */
  /* Flexbox: center align div ends here */

  /* Grid: center align div starts here */
  /* display: grid;
  align-items: center;
  justify-content: center; */
  /* Grid: center align div ends here */

  /* Then, we can combine align-items and justify-content into a single property: place-items, making things slightly shorter: */
  /* place-items: center; */

}

#quote-box {
  --border: 1px solid red;
  background-color: white !important;
  height: 200px;
  width: 300px;
  padding: 30px;
  border: 1px solid;
    
  /* Position:absolute: center align div starts here */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Position:absolute: center align div ends here */
}

.quote{
  height: 150px;
}

#quote-text{
  height:auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

#quote-author{
  height: 30px;
  text-align: right;
}

#new-quote {
  background-color: green;
  height: 40px;
  width: 100px;
  color: white;
  cursor: pointer;
  float: right;
  border: 0;
}

#tweet-button{
  background-color: green;
  height: 40px;
  width: 40px;
  color: white;
  cursor: pointer;
  float: left;
  border: 0;
}

#tweet-button i.fa.fa-twitter{
  color: #fff;
}

.buttons-container {
  position: relative;
  bottom: 5px;
  height: 40px;
  color: #fff;
}

.quote-copy-right{
  position: absolute;
  margin: 0;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}